body {
    height: 100%;
    margin: 0;
    font-family: "muli";
  }
  video {
   width: 560px;
   height: 315px;
  }
.container-fluid.top .row.d-flex.justify-content-center {
    background-color: #F1F1F1;
}
.container-fluid.top .row.d-flex.justify-content-center .col-md-10 {
    justify-content: flex-end;
}
.d-flex {
    list-style: none;
    text-align: center;
}
.container-fluid.background {
    background-image: url("img/Artboard15.webp");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.menuMobile {
	display: none;
	width: 40px;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 20px;
	
}
.mm_line {
	height: 3px;
	background-color: #7863FF;
	
}

.menu {
	display: flex;
	align-items: center;
}
nav ul,
nav li {
	list-style: none;
	margin: 0;
	padding: 0;
	
}
nav ul {
	display: flex;
}
nav ul a.btn.btn-primary {
    border-radius: 50px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1F1F1;
    color: #808080;
    border: 1px solid #808080;
}
nav a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #727272;
	font-family: Arial;
}
nav a:hover {
    text-decoration: none;
    color: #7863FF;
}
article.col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px 50px;
    margin: 160px 100px;
}
.modal-dialog .modal-content {
    width: 600px !important;
}
article.col-md-6 a.btn.btn-primary {
    border-radius: 50px;
    padding: 10px 30px;
    margin-bottom: 20px;
    background-color: #7863FF;
    border: 1px solid #7863FF;
}
article.col-md-6 a.btn.btn2 {
    color: #7863FF;
}
header .container-fluid.background .row article p {
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.2em black;
    color: white;
}
header .container-fluid.background .row article .a {
    display: flex;
    flex-direction: column;
    width: 100%;
}
header .container-fluid.background .row article .a a {
   text-decoration: none;
   width: 50%;
}
header .container-fluid.background .row article .a a.btn.btn2 {
    display: flex;
}
header .container-fluid.background .row article .a a:hover {
    text-decoration: none;
}
.container .row.justify-content-center {
    margin-bottom: 100px;
}
header .container-fluid.background .row .col-md-6 h1 {
    font-size: 50px;
    color: #7863FF;
    margin-bottom: 50px;
}
section .container .row.justify-content-center h1 {
    color: #333333;
    padding-bottom: 20px;
    text-align: center;
}
section .container .row.justify-content-center p {
    color: #808080;
}
.row.d-flex.row.justify-content-around .col-md-3.d-flex {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
.row.d-flex.row.justify-content-around .col-md-3.d-flex p {
    text-align: center;
    font-size: 15px;
    color: #808080;
}
.row.d-flex.row.justify-content-around .col-md-3.d-flex h4 {
    padding: 20px 0px 5px;
    color: #7863FF;
}
section.section .container,
section.section1 .container-fluid.c2 {
    padding: 100px 0px 100px;
    overflow: hidden;
}
section.section1 .container-fluid.c2 .owl-carousel.owl-theme.owl-loaded.owl-drag {
    padding: 0px 85px;
}
section.section1 .container-fluid.c2 {
    background-color: #7863FF;
}
section.section1 .container-fluid.c2 .row.justify-content-around {
    width: 100%;
    margin: 0;
}
.container-fluid.c2 .pintar2 {
    background-color: white;
    position: absolute;
    width:auto;
    height: 260px;
    margin-top: 303px;
}
.section1 .container-fluid .pintar {
    width: 100%;
    height: 144px;
    background: #7863FF;
    position: absolute;
    margin-top: 195px;
}
aside,
.container.c1 {
    margin-bottom: 150px;
}
aside .container .row .col-md-4 {
    padding: 50px 0px 0px 0px;
}
aside .container .row .col-md-4 h3 {
    padding-bottom: 30px;
}
aside .container .btn.btn-primary {
    background-color: white;
    color: #808080;
    border: 1px solid #808080;
}
aside .container .row.d-flex.justify-content-around .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section .container-fluid h2 {
    text-align: center;
    padding: 100px;
}
section .container-fluid .row .col-md-3.d-flex {
    padding: 30px;
    margin: 0px 10px;
}
section .container-fluid .row.d-flex.justify-content-center .col-md-3.d-flex {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    z-index: 9999999999999;
    background-color: #FFF;
    box-shadow: 1px -1px 2px 1px #DDD;
}
        @media only screen and (max-width:1329px) {
            section .container-fluid .row.d-flex.justify-content-center .col-md-3.d-flex {
                margin-bottom: 0px;
            }
            .section1 .container-fluid .pintar {
                margin-top: 205px;
            }
        }
section .container-fluid .row.d-flex.justify-content-center .col-md-3.d-flex img {
    padding-bottom: 20px;
}
.container-fluid.c2 .row.justify-content-around .col-md-6 {
    text-align: center;
    color: white;
}
.container-fluid.c2 .row.justify-content-around .col-md-6 h5 {
    font-size: 25px;
}
.container-fluid.c2 .row.justify-content-around .col-md-6 p {
    padding: 20px 10px 10px 10px;
}

#owl-demo .item{
    padding: 30px 0px;
    margin: 10px;
   
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
  .owl-nav {
    text-align: center;
  }
  .owl-nav button {
    width: 30px;
    background-color: black !important;
    border-radius: 5px;
    margin: 0px 10px;
  }
  .owl-nav button span {
      color: white;
      padding-bottom: 2px;
  }
  /*use styles below to disable ugly selection*/
  .customNavigation a{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

.container h2 {
    margin-top: 80px;
      text-align: center;
      padding-bottom: 30px;
}
.container .row.justify-content-around .col-md-4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      color: #808080;
}
  .container .row.justify-content-around .col-md-4 img {
    
     margin-bottom: 20px;
  }
  .container .row.justify-content-around .col-md-4 p {
      text-align: center;
      font-size: 15px;
  }
  .container .row.justify-content-center.cadastro {
      margin: 100px 0px 200px;
  }
  .container .row.justify-content-center.cadastro a.btn {
    border-radius: 50px;
    padding: 10px 65px;
    background-color: #7863FF;
    box-shadow: 2px 2px 2px 2px #DDD ;
  }
  .container a.btn {
      border-radius: 50px;
      padding: 10px 25px;
      background-color: #7863FF;
      border: 1px solid #7863FF;
  }
  
  .carousel-control-prev span, .carousel-control-next span {
      background-color: black;
  }
  .carousel-inner {
      text-align: center;
      padding: 20px;
      color: white;
  }
  
  .carousel-inner h3,
  .carousel-inner img {
      padding: 10px;
  }
  .carousel-inner p {
      padding: 20px;
  }
  ol.carousel-indicators {
      background: #7863FF;
  }
  .container-fluid.car {
      background-color: #7863FF;
      display: flex;
      justify-content: center;
  }
  .slide.carousel {
    width: 100%;
}
.container .row .col-md-5 {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .row .col-md-5 h3 {
    color: #7863FF;
}
.container .row .col-md-5 p {
    color: #808080;
    padding-bottom: 50px;
}
.container-fluid.cf {
    padding: 130px;
}
.container-fluid.cf .row.justify-content-center .col-md-6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container-fluid.cf .row.justify-content-center .col-md-6 h4 {
    color: #7863FF;
    font-size: 25px;
}
.container-fluid.cf .row.justify-content-center .col-md-6 p {
    color: #808080;
}
.container-fluid.cf .row.justify-content-center .col-md-6 button.btn {
    background-color: #F1F1F1;
    color: #808080;
    border: 1px solid #808080;
    border-radius: 50px;
    padding: 10px 30px;
}
.container-fluid.cf {
    background-color: #F1F1F1;
}
footer.footer .container .row.justify-content-center {
    padding: 150px 0px 50px;
}
.about_widget .social-icon li a {
	color: #333;
}
.about_widget .social-icon {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}
.about_widget .social-icon li {
	margin: 0px 10px;
}
.about_widget .footer-logo img {
	margin-bottom: 25px;
}
footer ul {
	list-style: none;
	font-size: 16px;
	color: #5b5b5b;
	margin: 0;
}
.footer-widget .widget-title {
	font-size: 22px;
	line-height: 32px;
	color: #333;
	margin-bottom: 23px;
}
.about_widget p {
	line-height: 26px;
	color: #333;
}
.nav_menus_widget ul {
	margin: 0;
    padding: 0;
    list-style: none;
}
.nav_menus_widget ul li {
	margin: 15px 0px;
}
.nav_menus_widget ul li a {
	color: #333 !important;
}
.nav_menus_widget ul li a:hover {
	text-decoration: none !important;
}
footer .container.footer .row {
    justify-content:space-around;
}
footer .container.footer .row .col-lg-3.col-md-6 {
    display: flex;
    justify-content: center;
}
footer.foo {
    background-color: #DDD;
    padding: 100px 0px;
}
@media only screen and (min-width:1070px) and (max-width:1506px) {
    .navbar-nav a {
        padding: 0px 6px;
    }
    header .container-fluid.background .row article .a a {
        width: 93%;
    }
    aside .container .btn.btn-primary {
        width: 75%;
        font-size: 15px;
    }
    aside {
        margin-bottom: 80px;
    }
    .container.c1 .row .col-md-5 img {
        width: 582px;
        height: 421px;
    }
    .container.c1 .row .col-md-5 h3 {
        font-size: 27px;
    }
    .container .row .col-md-5 p {
        margin-left: 10px;
        font-size: 15px;
    }
    .container-fluid.cf .row.justify-content-center .col-md-6 img {
        width: 100%;
    }
    .container-fluid.cf .row.justify-content-center .col-md-6 {
        font-size: small;
    }
}
@media only screen and (min-width:1024px) and (max-width:1070px) {
    .navbar-nav a {
        padding: 0px 3px;
    }
    .navbar-nav button.btn.btn-primary {
        height: 42px;
    }
    header .container-fluid.background .row article .a a {
        width: 97%;
    }
    article.col-md-6 {
        padding: 0px;
    }
    aside .container .btn.btn-primary {
        width: 100%;
        font-size: 15px;
    }
    aside {
        margin-bottom: 80px;
    }
    .container.c1 .row .col-md-5 img {
        width: 582px;
        height: 421px;
    }
    .container.c1 .row .col-md-5 h3 {
        font-size: 27px;
    }
    .container h2 {
        margin-top: 28px;
    }
    .container .row .col-md-5 p {
        margin-left: 10px;
        font-size: 15px;
    }
    .container-fluid.cf .row.justify-content-center .col-md-6 img {
        width: 100%;
    }
    .container-fluid.cf .row.justify-content-center .col-md-6 {
        font-size: small;
    }
    .footer-widget.about_widget {
		margin-bottom: 40px;
	}
}
@media only screen and (min-width:768px) and (max-width:1024px) {
    .navbar-nav a {
        padding: 0px 3px;
    }
    .navbar-nav a {
        display: flex;
        flex-direction: column;
    }
    .navbar-nav button.btn.btn-primary {
        height: 42px;
        
    }
    header .container-fluid.background .row article .a a {
        width: 97%;
    }
    article.col-md-6 {
        padding: 0px;
    }
    aside .container .btn.btn-primary {
        width: 100%;
        font-size: 15px;
    }
    aside .container .row.d-flex.justify-content-around .col-md-6 img,
    .container.c1 .row .col-md-7 img {
        width: 100%;
    }
    section .container-fluid .row .col-md-3.d-flex {
        padding: 20px 0px 0px 0px;
    }
    .container a.btn {
        padding: 10px;
    }
    aside .container .row.d-flex.justify-content-around .col-md-6 {
        font-size: small;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container .row.justify-content-around .col-md-4 img {
        width: auto;
        height: auto;
    }
    aside {
        margin-bottom: 80px;
    }
    section.section1 .container-fluid.c2 .owl-carousel.owl-theme.owl-loaded.owl-drag {
        padding: 0px 68px;
    }
    .container.c1 .row .col-md-5 img {
        width: 582px;
        height: 421px;
    }
    .container.c1 .row .col-md-5 {
        padding-left: 0px;
    }
    .container.c1 .row .col-md-5 p {
        padding-bottom: 0px;
        font-size: small;
    }
    .container.c1 .row .col-md-5 h3 {
        font-size: 25px;
    }
    .container h2 {
        margin-top: 28px;
    }
    .container .row .col-md-5 p {
        margin-left: 10px;
        font-size: 15px !important;
    }
    .container-fluid.cf { 
        padding: 0px;
    }
    .container-fluid.cf .row.justify-content-center .col-md-6.n2 {
        padding: 25px 0px;
    }
    .container.c1 {
        margin-bottom: 100px;
    }
    .container-fluid.cf .row.justify-content-center .col-md-6 img {
        width: 100%;
    }
    .container-fluid.cf .row.justify-content-center .col-md-6 {
        font-size: small;
    }
    .container-fluid.cf .row.justify-content-center .col-md-6 button.btn {
        padding: 10px 25px;
    }
    nav ul {
		flex-direction: column;
		display: none;
        position: absolute;
        left: -96px;
        right: -32px;
        background-color: #f1f1f1 !important;
        z-index: 999999999;
        padding-bottom: 5px;
	}
.menuMobile {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
    }
    .footer-widget.about_widget {
		margin-bottom: 40px;
	}
}
@media only screen and (min-width:400px) and (max-width:450px) {
    header .container-fluid.background .row article .a a {
        width: 90% !important;
    }
    nav ul.ul {
		flex-direction: column;
		display: none;
		position: absolute;
           right: 0;
           left: -213px !important;
    	padding-bottom: 5px;
        background-color: #f1f1f1 !important;
        z-index: 9999999999;
    }
    section.section1 .container-fluid.c2 .owl-carousel.owl-theme.owl-loaded.owl-drag {
        padding: 0px 51px !important;
    }
    .modal-dialog .modal-content {
        width: auto !important;
    }
    video {
        width:366px !important ;
    }
}
@media only screen and (min-width:350px) and (max-width:390px) {
    nav ul.ul {
		flex-direction: column;
		display: none;
		position: absolute;
           right: 0;
           left: -188px !important;
    	padding-bottom: 5px;
        background-color: #f1f1f1 !important;
        z-index: 9999999999;
    }
    .modal-dialog .modal-content {
        width: auto !important;
    }
    video {
        width:320px !important ;
    }
}
@media only screen and (min-width:320px) and (max-width:767px) {
    .container-fluid.top .row.d-flex .col-md-1,
    .container-fluid.top .row.d-flex .col-md-10 {
        width: 50%;
    }
    header .container-fluid.background .row article p {
        font-size: 15px;
        color: white;
        text-shadow: 0.1em 0.1em 0.2em black;
        text-align: center;
    }
    nav ul a.btn.btn-primary {
        padding: 7px;
        display: block;
    }
    .navbar-nav a {
        padding: 0px 3px;
    }
    .navbar-nav a {
        display: flex;
        flex-direction: column;
    }
    .navbar-nav button.btn.btn-primary {
        height: 42px;
        
    }
    header .container-fluid.background .row .col-md-6 h1 {
        font-size: 27px !important;
        text-align: center;
       margin: 10px 0px 20px 0px;
    }
    header .container-fluid.background .row article .a {
        align-items: center;
    }
    header .container-fluid.background .row article .a a {
        width: 115%;
    }
    header .container-fluid.background .row article.col-md-6 {
        padding: 30px;
        font-size: small;
    }
    article.col-md-6 {
        margin: 0px!important;
    }
    aside .container .btn.btn-primary {
        width: 100%;
        font-size: 15px;
    }
    aside .container .row.d-flex.justify-content-around .col-md-6 img,
    .container.c1 .row .col-md-7 img {
        width: 100%;
    }
    section.section1 .container-fluid.c2 .owl-carousel.owl-theme.owl-loaded.owl-drag {
        padding: 0px 42px;
    }
    .container.c1 .row .col-md-7 {
        margin-bottom: 20px;
    }
    .container-fluid.cf {
        padding: 10px 10px;
    }
    aside .container .row.d-flex.justify-content-around .col-md-6 {
        font-size: small;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container .row.justify-content-around .col-md-4 img {
        width: auto;
        height: auto;
    }
    .container-fluid.c2 .pintar2 {
        display: none;
    }
    aside {
        margin-bottom: 80px;
    }
    .pintar {
        display:none;
    }
    .container-fluid.cf .row.justify-content-center .col-md-6 button.btn {
        width: 246px;
    }
    section.section .container .row.justify-content-center,
    section.section .container .row.d-flex.justify-content-around,
    .container-fluid.cf .row.justify-content-center {
        width: 100%;
        margin: 0px;
    }
    section .container .row.justify-content-center h1 {
        font-size: 23px;
        padding: 0px 15px 20px 15px;
    }
    section .container .row.justify-content-center p {
        text-align: center;
        padding: 0px 15px;
    }
    section .container-fluid h2 {
        padding: 0px 0px 30px 0px;
        font-size: 35px;
    }
    .container.c1 .row .col-md-5 img {
        width: 582px;
        height: 421px;
    }
   
    .container.c1 .row .col-md-5 p {
        padding-bottom: 0px;
        font-size: small;
    }
    .container.c1 .row .col-md-5 h3 {
        font-size: 26px;
    }
    .container h2 {
        margin-top: 28px;
    }
    .container .row .col-md-5 p {
        margin-left: 10px;
        font-size: 15px;
    }
    .container-fluid.cf .row.justify-content-center .col-md-6 img {
        width: 100%;
    }
    .container-fluid.cf .row.justify-content-center .col-md-6 {
        font-size: small;
    }
    .container-fluid.cf .row.justify-content-center .col-md-6 button.btn {
        padding: 10px 25px;
    }
    nav ul.ul {
		flex-direction: column;
		display: none;
		position: absolute;
           right: 0;
           left: -160px;
    	padding-bottom: 5px;
        background-color: #f1f1f1 !important;
        z-index: 9999999999;
    }
    .modal-dialog .modal-content {
        width: auto !important;
    }
    video {
        width:266px ;
    }
.menuMobile {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
    }
    
	footer {
		padding: 80px 0px;
	}
	footer .container.footer .row .col-lg-4.col-md-6,
	footer .container.footer .row .col-lg-3.col-md-6,
	footer .container.footer .row .col-lg-5.col-md-6 {
		padding: 20px 0px;
		text-align: center;
	}
	footer .container.footer .row .col-lg-4.col-md-6 .footer-widget.about_widget {
		text-align: center;
	}
	.about_widget .social-icon {
		display: flex;
		justify-content: center;
	}
}